<header class="v-header myContainer">
  <div class="fullscreen-video-wrap">
    <video src="../../../assets/videos/Race Track Wide Shot-Stock Video.mov" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay">

  </div>
  <div class="header-content">
    <h1>Super awesomeracinggame</h1>
    <p>Here you can see the topscores of the superawesomeracinggame from all the players and challenge them for a game</p>
    <a [routerLink]="['/leaderboard']" class="btn">See the leaderbord</a>
  </div>
</header>
