<div class="leaderboard">
  <h1>Leaderboard</h1>
  <article class="flexContainer">
    <table [className]="!details ? 'table table-striped' : 'table table-striped full-width'">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Trackname</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records" (click)="loadDetailsUser($event,record)">
          <td>{{record.firstName}} {{record.lastName}}</td>
          <td>{{record.username}}</td>
          <td>{{record.trackName}}</td>
          <td>{{record.time}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="details" [className]="details ? 'detailsFilledIn details' : 'details'">
      <div>
        <h1>{{user.details.username}}</h1>
        <span class="detail">Name: {{user.details.firstName}} {{user.details.lastName}}</span><br>
        <span class="detail">Best time: {{user.records[0].time}}</span><br>
        <span class="detail center">Best 5 records:</span><br>
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Trackname</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of user.records" (click)="loadDetailsUser($event,record)">
              <td>{{record.firstName}} {{record.lastName}}</td>
              <td>{{record.username}}</td>
              <td>{{record.trackName}}</td>
              <td>{{record.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>
