@font-face {
  font-family: racingFont;
  src: url("../../../assets/fonts/BREECBO_.TTF");
}

.topInfo {
  text-align: center;
}

.topInfo>h1 {
  font-family: racingFont, sans-serif;
  font-size: 3rem;
  padding-top: 2%;
  color: white;
}

.filters {
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.166);
  max-width: 80vw;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}

.filters>div>h2 {
  color: white;
}

.filters>div {
  display: inline-block;
  margin-right: 5%;
}

.tables {
  margin-top: 5vh;
  background-color: rgba(240, 255, 255, 0.625);
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}

.tables>h1 {
  text-align: center;
}


table>tbody>tr:hover {
  cursor: pointer;
}


.arrow {
  font-size: 5em;
}

.arrow:hover {
  color: red;
}
